.siema
    if(rStations)
        each rS8 in rStations
            - var n = 0;
            div.content(style='z-index:20')
                +title('ایستگاه های باران سنجی')
                div.row
                    while n < rS8.length
                        +cardsrl(rS8[n],'rain')
                        - n++
                
    if(lStations)
        each lS8 in lStations
            - var n = 0;
            div.content(style='z-index:20')
                +title('ایستگاه های سطح سنجی')
                div.row
                    while n < lS8.length
                        +cardsrl(lS8[n],'level')
                        - n++
    if(cStations)
        each stn in cStations  
            - var n = 0;
            div.content(style='z-index:20')
                - t = 'ایستگاه هواشناسی '+ stn.position
                +title(t)
                div.row
                    while n < 8
                        +cardsc(stn,'clima',sensores[n++])
    div.content.ad
        img.ad(src='/assets/img/uas.png')