div.content
    div.row
        div.col-lg-4.text-right
            div.card.card-chart
                div.card-header
                    h5.card-category ایستگاه بارانسنجی بنکوه
                    h3.card-title
                        i.tim-icons.icon-bell-55.text-primary
                        span    225 
                div.card-body
                    div.chart-area
                        canvas(id='chartLinePurple')
        div.col-lg-4.text-right
            div.card.card-chart
                div.card-header
                    h5.card-category ایستگاه بارانسنجی خیرآباد     
                    h3.card-title
                        i.tim-icons.icon-send.text-success  
                        span    125
                div.card-body
                    div.chart-area
                        canvas(id='chartLineGreen')
        div.col-lg-4.text-right
            div.card.card-chart
                div.card-header
                    h5.card-category ایستگاه بارانسنجی مجن 
                    h3.card-title 
                        i.tim-icons.icon-send.text-success  
                        span    58
                div.card-body
                    div.chart-area
                        canvas(id='chartLineGreen2')