mixin raincard(stn)
    div.col-lg-10.text-right
        div.card.card-chart(onclick='location.href="#";' style='cursor: pointer;')
            div.card-header.rain
                //- h3.card-category  ایستگاه بارانسنجی # rainStn.name}
                h3.card-category  #{stn.position}
                - i = stn.id
                h4.card-title(id= i )
                    i.tim-icons.icon-bell-55.text-primary
                    i.card-label(id='rain_status') &nbsp&nbsp&nbsp وضعیت بارندگی
                    br
                    i.tim-icons.icon-bell-55.text-primary
                    i.card-label(id='rain_alarm') &nbsp&nbsp&nbsp آلارم ها
                    br
                    i.tim-icons.icon-bell-55.text-primary
                    i.card-label(id='rain_total')
                    i.unit(id='rain_total_unit')
                    i.value(id='rain_total_value')
                    br
                    i.tim-icons.icon-bell-55.text-primary
                    i.card-label(id='rain_24')
                    i.unit(id='rain_24_unit')
                    i.value(id='rain_24_value')
                    br
                    i.tim-icons.icon-bell-55.text-primary
                    i.card-label(id='rain_12')
                    i.unit(id='rain_12_unit')
                    i.value(id='rain_12_value')
                    br
                    //- i.tim-icons.icon-bell-55.text-primary
                    i(id='date_of_last_recieved_data_label')
                    i.value(id='date_of_last_recieved_data_value')
            div.card-body
                div.chart-area
                    //- canvas(id='chartLinePurple')
                    - chart_id = 'CountryChart' + stn.id
                    canvas(id= chart_id)