div.fixed-plugin
    div.dropdown.show-dropdown
        a(href='#' data-toggle='dropdown')
            i.fa.fa-cog.fa-2x
        ul.dropdown-menu
            li.header-title رنگ پس زمینه پنل 
            li.adjustments-line
                a.switch-trigger.background-color(href='javascript:void(0)')
                    div.badge-colors.text-center
                        span.badge.filter.badge-primary.active(data-color='primary')
                        span.badge.filter.badge-info(data-color='blue')
                        span.badge.filter.badge-success(data-color='green')
                    div.clearfix
            li.adjustments-line.text-center.color-change
                span.color-label تم روشن
                span.badge.light-badge.mr-2
                span.badge.dark-badge.ml-2
                span.color-label تم تیره