.control-box
    //- button.next.btn-link.align-l(onclick='setTitle("'+ titles +'")' )
    button.next.btn-link.align-l
        i.fas.fa-angle-left(style='font-size : 40px')
    button.prev.btn-link.align-r
        i.fas.fa-angle-right(style='font-size : 40px')
        //- &nbsp>  <&nbsp
    br
    button.btn-link.play-pause
        i.far.fa-pause-circle(style='font-size : 20px' onclick='playPause(this)')
    //- button.btn-link.play-pause(onclick='ReStartFunction()')
    //-     i.far.fa-play-circle(style='font-size : 20px')
    //- button.btn-link.pause(onclick='PauseFunction()')
    //-     i.far.fa-pause-circle(style='font-size : 20px')