div.sidebar
    //- Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
    div.sidebar-wrapper
        div.logo
            a.simple-text.logo-mini(href='javascript:void(0)') سمنان   
            a.simple-text.logo-normal  ایستگاه های بارانسنجی
        ul.nav
            li
                a(href='./dashboard.html')
                    i.tim-icons.icon-atom
                    p بنکوه   
            li: a(href='./icons.html')
                i.tim-icons.icon-atom
                p خیرآباد 
            li
                a(href='./map.html')
                    i.tim-icons.icon-atom
                    p مجن