//- include _navbar
doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='apple-touch-icon' sizes='76x76' href='/assets/img/apple-icon.png')
    link(rel='shortcut icon' type='image/png' href='/assets/img/favicon.png')
    title سامانه مانیتورینگ
    //-  Fonts and icons
    link(rel='stylesheet' href='/assets/css/farsi-fonts.css')

    //- link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.0.6/css/all.css')
    link(rel='stylesheet' href='/assets/fontawesome/css/all.min.css')
    //- Nucleo Icons
    link(rel='stylesheet' href='/assets/css/nucleo-icons.css')
    //- CSS Files
    link(rel='stylesheet' href='/assets/css/bootstrap-rtl.css')
    link(rel='stylesheet' href='/assets/css/mdb.css')
    link(rel='stylesheet' href='/assets/css/black-dashboard.css')
    link(rel='stylesheet' href='/assets/css/bootstrap-select.css')
    link(rel='stylesheet' href='/assets/css/leaflet.css')
    //-link(href='https://api.mapbox.com/mapbox-gl-js/v1.10.1/mapbox-gl.css', rel='stylesheet')
    link(href='/assets/css/mapbox-gl.css', rel='stylesheet')




    link(rel='stylesheet' href='/assets/weather-icons-master/css/weather-icons.min.css')

    //link(rel='stylesheet' href='/assets/amib/main.css')
    link(rel='stylesheet' href='/assets/amib/js-persian-cal.css')
    //link(rel='stylesheet' href='/assets/css/w3.css')



    // Plugin file
    link(rel='stylesheet' href='/assets/css/addons/datatables.min.css')
    link(rel='stylesheet' href='/assets/css/style.css')
    //- /////
    //- link(rel='stylesheet' href='https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.2.1/css/ol.css')
    //- link(rel='stylesheet' href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')
    //- link(rel='stylesheet' href='/assets/css/pagination.css')
    //- CSS Just for demo purpose, don't include it in your project
    //- link(rel='stylesheet' href='/assets/demo/demo.css')
    //- <!--   Core JS Files   -->

    //script(src='/assets/js/core/jquery.min.js')
    //script(src='/assets/js/jquery.redirect.js')
    //script(src='/assets/js/core/popper.min.js')
    //script(src='/assets/js/core/bootstrap.min.js')
    //script(src='/assets/js/plugins/perfect-scrollbar.jquery.min.js')
    //script(src='/assets/fontawesome/js/all.min.js')
    //script(src='/assets/amib/js-persian-cal.min.js')
    //script(src='/assets/js/timepicker.js')



  body.rtl.menu-on-right
    script(src='/assets/js/core/jquery.min.js')
    script(src='/assets/js/core/popper.min.js')
    script(src='/assets/js/core/bootstrap.min.js')
    script(src='/assets/js/plugins/perfect-scrollbar.jquery.min.js')
    script(src='/assets/js/plugins/bootstrap-selectpicker.js')
    //- script(src='https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/i18n/defaults-fa_IR.min.js')
    script(src='/assets/js/defaults-fa_IR.min.js')
    //- script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
    script(src='/assets/js/mdb.js')
    script(src='/assets/amib/js-persian-cal.min.js')
    script(src='/assets/js/leaflet.js')
    //- script(src='https://api.mapbox.com/mapbox-gl-js/v1.10.1/mapbox-gl.js')
    script(src='/assets/js/mapbox-gl.js')

    //- script(src ='https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.2.1/build/ol.js')
    div.wrapper
      //- include _sidebar
      block sidebar
      div.main-panel
        //- Navbar
        //- include _navbar
        block navbar
        //- include _content
        block content
          h1 this is a plase holder heading



    script(src='/assets/js/jquery.redirect.js')


    script(src='/assets/fontawesome/js/all.min.js')


    //- <!-- Chart JS -->
    //- script(src='/assets/js/plugins/chartjs.min.js')
    script(src='/assets/js/plugins/chartjs.js')
    //- <!--  Notifications Plugin    -->
    script(src='/assets/js/plugins/bootstrap-notify.js')
    //- <!-- Control Center for Black Dashboard: parallax effects, scripts for the example pages etc -->
    script(src='/assets/js/black-dashboard.js')
    //- <!-- Black Dashboard DEMO methods, don't include it in your project! -->
    script(src='/assets/demo/demo.js')
    //-/////

    script(src='/assets/js/latin2Arabic.jquery.js')
    script(src='/assets/js/persianNum.jquery-2.js')
    script(src ='/assets/js/siema.min.js')
    script(type='text/javascript' page_type=pageType src='/assets/js/my_jquery_functions.js')
    script(type='text/javascript' src='/assets/js/prep.js')
    //-script(src='https://cdn.trackjs.com/agent/v3/latest/t.js')
    //-script(src='/assets/js/t.js')
    //-script.
    //-    window.TrackJS &&
    //-    TrackJS.install({
    //-        token: "ee6fab19c5a04ac1a32a645abde4613a",
    //-        application: "black-dashboard-free"
    //-    });






    
    











