extends base
include _navbar
include _sidebar
include _cards
include _title
block navbar
  +navbar
block sidebar
  +sidebar()
    li
      div.row
        div.col-sm-12.text-right
          h3.card-category(style='display:flex;justify-content: center')
            //a(href='/')
            button.btn(onclick='goBackToMain()')
                i.return.fas.fa-undo(style='font-size : 30px' )
block content
  include _content
  script.
    $(document).ready(function () {
        setSavedSi(`#{slideIndex}`);
    })
      
  //- script(src ='/assets/js/siema.min.js')
  //- script.
  //-     const mySiema = new Siema({
  //-     selector: '.siema',
  //-     duration: 2000,
  //-     //- easing: 'ease-out',
  //-     easing: 'cubic-bezier(.17,.67,.32,1.34)',
  //-     perPage: 1,
  //-     startIndex: 0,
  //-     draggable: true,
  //-     multipleDrag: true,
  //-     threshold: 10,
  //-     loop: true,
  //-     rtl: true,
  //-     onInit: () => {},
  //-     onChange: () => {},
  //-     });
  //-     document.querySelector('.prev').addEventListener('click', ()=>mySiema.prev());
  //-     document.querySelector('.next').addEventListener('click', ()=>mySiema.next());


      //- setInterval(() => mySiema.next(), 1000)
      //- perPage: {
      //-   800: 2, // 2 items for viewport wider than 800px
      //-   1240: 3 // 3 items for viewport wider than 1240px
      //- }


