extends base
block content
    div.content
        div.row
            each stn in stations
                div.col-lg-4.text-right
                    div.card.card-chart
                        div.card-header
                            h3.card-category  ایستگاه بارانسنجی #{stn.name}
                            - i = stn.id
                            h5.card-title(id= i )
                                i.tim-icons.icon-bell-55.text-primary
                                span(id='rain_status') &nbsp&nbsp&nbsp&nbsp&nbsp وضعیت بارندگی 
                                br
                                i.tim-icons.icon-bell-55.text-primary
                                span(id='rain_alarm') &nbsp&nbsp&nbsp&nbsp&nbsp آلارم ها 
                                br
                                i.tim-icons.icon-bell-55.text-primary
                                span(id='rain_total')
                                span(id='rain_total_value')
                                span(id='rain_total_unit')  
                                br
                                i.tim-icons.icon-bell-55.text-primary
                                span(id='rain_24')
                                span(id='rain_24_value')
                                span(id='rain_24_unit')
                                br
                                i.tim-icons.icon-bell-55.text-primary
                                span(id='rain_12')
                                span(id='rain_12_value')
                                span(id='rain_12_unit')
                        div.card-body
                            div.chart-area
                                //- canvas(id='chartLinePurple')
                                - chart_id = 'CountryChart' + stn.id
                                canvas(id= chart_id)