doctype html
//
  =========================================================
  * * Black Dashboard - v1.0.1
  =========================================================
  * Product Page: https://www.creative-tim.com/product/black-dashboard
  * Copyright 2019 Creative Tim (https://www.creative-tim.com)
  * Coded by Creative Tim
  =========================================================
  * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png")
        link(rel="icon" type="image/png" href="../assets/img/favicon.png")
        title
            | Black Dashboard by Creative Tim
        // Fonts and icons
        link(href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet")
        link(href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet")
        // Nucleo Icons
        link(href="../assets/css/nucleo-icons.css" rel="stylesheet")
        // CSS Files
        link(href="../assets/css/black-dashboard.css?v=1.0.0" rel="stylesheet")
        link(href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-rtl/3.4.0/css/bootstrap-rtl.css" rel="stylesheet")
        // CSS Just for demo purpose, don't include it in your project
        link(href="../assets/demo/demo.css" rel="stylesheet")
    body.rtl.menu-on-right
        .wrapper
            .sidebar
                //
                  Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
                .sidebar-wrapper
                    .logo
                        a.simple-text.logo-mini(href="javascript:void(0)")
                            | ط م
                        a.simple-text.logo-normal(href="javascript:void(0)")
                            | توقيت الإبداعية
                    ul.nav
                        li
                            a(href="./dashboard.html")
                                i.tim-icons.icon-chart-pie-36
                                p لوحة القيادة
                        li
                            a(href="./icons.html")
                                i.tim-icons.icon-atom
                                p الرموز
                        li
                            a(href="./map.html")
                                i.tim-icons.icon-pin
                                p خرائط
                        li
                            a(href="./notifications.html")
                                i.tim-icons.icon-bell-55
                                p إخطارات
                        li
                            a(href="./user.html")
                                i.tim-icons.icon-single-02
                                p ملف تعريفي للمستخدم
                        li
                            a(href="./tables.html")
                                i.tim-icons.icon-puzzle-10
                                p قائمة الجدول
                        li
                            a(href="./typography.html")
                                i.tim-icons.icon-align-center
                                p طباعة
                        li
                            a(href="./rtl.html")
                                i.tim-icons.icon-world
                                p دعم RTL
                        li
                            a(href="./upgrade.html")
                                i.tim-icons.icon-spaceship
                                p التطور للاحترافية
            .main-panel
                // Navbar
                nav.navbar.navbar-expand-lg.navbar-absolute.navbar-transparent
                    .container-fluid
                        .navbar-wrapper
                            .navbar-toggle.d-inline
                                button.navbar-toggler(type="button")
                                    span.navbar-toggler-bar.bar1
                                    span.navbar-toggler-bar.bar2
                                    span.navbar-toggler-bar.bar3
                            a.navbar-brand(href="javascript:void(0)") RTL
                        button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navigation" aria-expanded="false" aria-label="Toggle navigation")
                            span.navbar-toggler-bar.navbar-kebab
                            span.navbar-toggler-bar.navbar-kebab
                            span.navbar-toggler-bar.navbar-kebab
                        #navigation.collapse.navbar-collapse
                            ul.navbar-nav.mr-auto
                                li.search-bar.input-group
                                    button#search-button.btn.btn-link(data-toggle="modal" data-target="#searchModal")
                                        i.tim-icons.icon-zoom-split
                                        span.d-lg-none.d-md-block Search
                                li.dropdown.nav-item
                                    a.dropdown-toggle.nav-link(href="javascript:void(0)" data-toggle="dropdown")
                                        .notification.d-none.d-lg-block.d-xl-block
                                        i.tim-icons.icon-sound-wave
                                        p.d-lg-none
                                            | Notifications
                                    ul.dropdown-menu.dropdown-menu-right.dropdown-navbar
                                        li.nav-link
                                            a.nav-item.dropdown-item(href="#") Mike John responded to your email
                                        li.nav-link
                                            a.nav-item.dropdown-item(href="javascript:void(0)") You have 5 more tasks
                                        li.nav-link
                                            a.nav-item.dropdown-item(href="javascript:void(0)") Your friend Michael is in town
                                        li.nav-link
                                            a.nav-item.dropdown-item(href="javascript:void(0)") Another notification
                                        li.nav-link
                                            a.nav-item.dropdown-item(href="javascript:void(0)") Another one
                                li.dropdown.nav-item
                                    a.dropdown-toggle.nav-link(href="#" data-toggle="dropdown")
                                        .photo
                                            img(src="../assets/img/anime3.png" alt="Profile Photo")
                                        b.caret.d-none.d-lg-block.d-xl-block
                                        p.d-lg-none
                                            | Log out
                                    ul.dropdown-menu.dropdown-navbar
                                        li.nav-link
                                            a.nav-item.dropdown-item(href="javascript:void(0)") Profile
                                        li.nav-link
                                            a.nav-item.dropdown-item(href="javascript:void(0)") Settings
                                        li.dropdown-divider
                                        li.nav-link
                                            a.nav-item.dropdown-item(href="javascript:void(0)") Log out
                                li.separator.d-lg-none
                #searchModal.modal.modal-search.fade(tabindex="-1" role="dialog" aria-labelledby="searchModal" aria-hidden="true")
                    .modal-dialog(role="document")
                        .modal-content
                            .modal-header
                                input#inlineFormInputGroup.form-control(type="text" placeholder="SEARCH")
                                button.close(type="button" data-dismiss="modal" aria-label="Close")
                                    i.tim-icons.icon-simple-remove
                // End Navbar
                .content
                    .row
                        .col-12
                            .card.card-chart
                                .card-header
                                    .row
                                        .col-sm-6.text-right
                                            h5.card-category مجموع الشحنات
                                            h2.card-title أداء
                                        .col-sm-6
                                            .btn-group.btn-group-toggle(data-toggle="buttons")
                                                label#0.btn.btn-sm.btn-primary.btn-simple.active
                                                    input(type="radio" name="options" checked="")
                                                    span.d-none.d-sm-block.d-md-block.d-lg-block.d-xl-block  حسابات
                                                    span.d-block.d-sm-none
                                                        i.tim-icons.icon-single-02
                                                label#1.btn.btn-sm.btn-primary.btn-simple
                                                    input.d-none.d-sm-none(type="radio" name="options")
                                                    span.d-none.d-sm-block.d-md-block.d-lg-block.d-xl-block  المشتريات
                                                    span.d-block.d-sm-none
                                                        i.tim-icons.icon-gift-2
                                                label#2.btn.btn-sm.btn-primary.btn-simple
                                                    input.d-none(type="radio" name="options")
                                                    span.d-none.d-sm-block.d-md-block.d-lg-block.d-xl-block جلسات
                                                    span.d-block.d-sm-none
                                                        i.tim-icons.icon-tap-02
                                .card-body
                                    .chart-area
                                        canvas#chartBig1
                    .row
                        .col-lg-4.text-right
                            .card.card-chart
                                .card-header
                                    h5.card-category شحنات كاملة
                                    h3.card-title
                                        i.tim-icons.icon-bell-55.text-primary
                                        |  763,215
                                .card-body
                                    .chart-area
                                        canvas#chartLinePurple
                        .col-lg-4.text-right
                            .card.card-chart
                                .card-header
                                    h5.card-category المبيعات اليومية
                                    h3.card-title
                                        i.tim-icons.icon-delivery-fast.text-info
                                        |  3,500€
                                .card-body
                                    .chart-area
                                        canvas#CountryChart
                        .col-lg-4.text-right
                            .card.card-chart
                                .card-header
                                    h5.card-category المهام المكتملة
                                    h3.card-title
                                        i.tim-icons.icon-send.text-success
                                        |  12,100K
                                .card-body
                                    .chart-area
                                        canvas#chartLineGreen
                    .row
                        .col-lg-6.col-sm-6.text-center
                            .card.card-tasks.text-left
                                .card-header.text-right
                                    h6.title.d-inline تتبع
                                    p.card-category.d-inline اليوم
                                    .dropdown.float-left
                                        a#dropdownMenuLink.btn.btn-link.dropdown-toggle(data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                                            i.tim-icons.icon-settings-gear-63
                                        .dropdown-menu(aria-labelledby="dropdownMenuLink")
                                            a.dropdown-item(href="#") عمل
                                            a.dropdown-item(href="#") عمل آخر
                                            a.dropdown-item(href="#") شيء آخر هنا
                                .card-body
                                    .table-full-width.table-responsive
                                        table.table
                                            tbody
                                                tr
                                                    td.text-center
                                                        .form-check
                                                            label.form-check-label
                                                                input.form-check-input(type="checkbox" value="" checked="")
                                                                span.form-check-sign
                                                                    span.check
                                                    td.text-right
                                                        p.title مركز معالجة موقع محور
                                                        p.text-muted نص آخر هناالوثائق
                                                    td.td-actions
                                                        button.btn.btn-link(type="button" rel="tooltip" title="" data-original-title="مهمة تحرير")
                                                            i.tim-icons.icon-settings
                                                tr
                                                    td.text-center
                                                        .form-check
                                                            label.form-check-label
                                                                input.form-check-input(type="checkbox" value="")
                                                                span.form-check-sign
                                                                    span.check
                                                    td.text-right
                                                        p.title لامتثال GDPR
                                                        p.text-muted
                                                            | الناتج المحلي الإجمالي هو نظام يتطلب من الشركات حماية البيانات الشخصية والخصوصية لمواطني أوروبا بالنسبة للمعاملات التي تتم داخل الدول الأعضاء في الاتحاد الأوروبي.
                                                    td.td-actions
                                                        button.btn.btn-link(type="button" rel="tooltip" title="" data-original-title="مهمة تحرير")
                                                            i.tim-icons.icon-settings
                                                tr
                                                    td.text-center
                                                        .form-check
                                                            label.form-check-label
                                                                input.form-check-input(type="checkbox" value="")
                                                                span.form-check-sign
                                                                    span.check
                                                    td.text-right
                                                        p.title القضاياالقضايا
                                                        p.text-muted سيكونونقال 50٪ من جميع المستجيبين أنهم سيكونون أكثر عرضة للتسوق في شركة
                                                    td.td-actions
                                                        button.btn.btn-link(type="button" rel="tooltip" title="" data-original-title="مهمة تحرير")
                                                            i.tim-icons.icon-settings
                                                tr
                                                    td.text-center
                                                        .form-check
                                                            label.form-check-label
                                                                input.form-check-input(type="checkbox" value="" checked="")
                                                                span.form-check-sign
                                                                    span.check
                                                    td.text-right
                                                        p.title تصدير الملفات التي تمت معالجتها
                                                        p.text-muted
                                                            | كما يبين التقرير أن المستهلكين لن يغفروا شركة بسهولة بمجرد حدوث خرق يعرض بياناتهم الشخصية.
                                                    td.td-actions
                                                        button.btn.btn-link(type="button" rel="tooltip" title="" data-original-title="مهمة تحرير")
                                                            i.tim-icons.icon-settings
                                                tr
                                                    td.text-center
                                                        .form-check
                                                            label.form-check-label
                                                                input.form-check-input(type="checkbox" value="" checked="")
                                                                span.form-check-sign
                                                                    span.check
                                                    td.text-right
                                                        p.title الوصول إلى عملية التصدير
                                                        p.text-muted
                                                            | سياسة السيء إنطلاق في قبل, مساعدة والمانيا أخذ قد. بل أما أمام ماشاء الشتاء،, تكاليف الإقتصادي بـ حين. ٣٠ يتعلّق للإتحاد ولم, وتم هناك مدينة بتحدّي إذ, كان بل عمل
                                                    td.td-actions
                                                        button.btn.btn-link(type="button" rel="tooltip" title="" data-original-title="مهمة تحرير")
                                                            i.tim-icons.icon-settings
                                                tr
                                                    td.text-center
                                                        .form-check
                                                            label.form-check-label
                                                                input.form-check-input(type="checkbox" value="")
                                                                span.form-check-sign
                                                                    span.check
                                                    td.text-right
                                                        p.title الافراج عن v2.0.0
                                                        p.text-muted
                                                            | عن رئيس طوكيو البولندي لمّ, مايو مرجع وباءت قبل هو, تسمّى الطريق الإقتصادي ذات أن. لغات الإطلاق الفرنسية دار ان, بين بتخصيص الساحة اقتصادية أم. و الآخ
                                                    td.td-actions
                                                        button.btn.btn-link(type="button" rel="tooltip" title="" data-original-title="مهمة تحرير")
                                                            i.tim-icons.icon-settings
                        .col-lg-6.col-sm-6
                            .card
                                .card-header.text-right
                                    h4.card-title جدول بسيط
                                .card-body
                                    .table-responsive
                                        table.table.tablesorter(id="")
                                            thead.text-primary
                                                tr
                                                    th
                                                        | اسم
                                                    th
                                                        | بلد
                                                    th
                                                        | مدينة
                                                    th.text-center
                                                        | راتب
                                            tbody
                                                tr
                                                    td
                                                        | رايس داكوتا
                                                    td
                                                        | النيجر
                                                    td
                                                        | العود-تورنهاوت
                                                    td.text-center
                                                        | $36,738
                                                tr
                                                    td
                                                        | مينيرفا هوبر
                                                    td
                                                        | كوراساو
                                                    td
                                                        | Sinaai-واس
                                                    td.text-center
                                                        | $23,789
                                                tr
                                                    td
                                                        | سيج رودريجيز
                                                    td
                                                        | هولندا
                                                    td
                                                        | بايلي
                                                    td.text-center
                                                        | $56,142
                                                tr
                                                    td
                                                        | فيليب شانيه
                                                    td
                                                        | كوريا، جنوب
                                                    td
                                                        | اوفرلاند بارك
                                                    td.text-center
                                                        | $38,735
                                                tr
                                                    td
                                                        | دوريس غرين
                                                    td
                                                        | مالاوي
                                                    td
                                                        | المنع
                                                    td.text-center
                                                        | $63,542
                                                tr
                                                    td
                                                        | ميسون بورتر
                                                    td
                                                        | تشيلي
                                                    td
                                                        | غلوستر
                                                    td.text-center
                                                        | $78,615
                                                tr
                                                    td
                                                        | جون بورتر
                                                    td
                                                        | البرتغال
                                                    td
                                                        | غلوستر
                                                    td.text-center
                                                        | $98,615
                footer.footer
                    .container-fluid
                        ul.nav
                            li.nav-item
                                a.nav-link(href="javascript:void(0)")
                                    | Creative Tim
                            li.nav-item
                                a.nav-link(href="javascript:void(0)")
                                    | About Us
                            li.nav-item
                                a.nav-link(href="javascript:void(0)")
                                    | Blog
                        .copyright
                            | ©
                            script.
                                document.write(new Date().getFullYear())
                            | 2018 made with
                            i.tim-icons.icon-heart-2
                            |  by
                            a(href="javascript:void(0)" target="_blank") Creative Tim
                            |  for a better web.
        .fixed-plugin
            .dropdown.show-dropdown
                a(href="#" data-toggle="dropdown")
                    i.fa.fa-cog.fa-2x
                ul.dropdown-menu
                    li.header-title  Sidebar Background
                    li.adjustments-line
                        a.switch-trigger.background-color(href="javascript:void(0)")
                            .badge-colors.text-center
                                span.badge.filter.badge-primary.active(data-color="primary")
                                span.badge.filter.badge-info(data-color="blue")
                                span.badge.filter.badge-success(data-color="green")
                            .clearfix
                    li.adjustments-line.text-center.color-change
                        span.color-label LIGHT MODE
                        span.badge.light-badge.mr-2
                        span.badge.dark-badge.ml-2
                        span.color-label DARK MODE
                    li.button-container
                        a.btn.btn-primary.btn-block.btn-round(href="https://www.creative-tim.com/product/black-dashboard" target="_blank") Download Now
                        a.btn.btn-default.btn-block.btn-round(href="https://demos.creative-tim.com/black-dashboard/docs/1.0/getting-started/introduction.html" target="_blank")
                            | Documentation
                    li.header-title Thank you for 95 shares!
                    li.button-container.text-center
                        button#twitter.btn.btn-round.btn-info
                            i.fab.fa-twitter
                            |  · 45
                        button#facebook.btn.btn-round.btn-info
                            i.fab.fa-facebook-f
                            |  · 50
                        br
                        br
                        a.github-button(href="https://github.com/creativetimofficial/black-dashboard" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star ntkme/github-buttons on GitHub") Star
        // Core JS Files
        script(src="../assets/js/core/jquery.min.js")
        script(src="../assets/js/core/popper.min.js")
        script(src="../assets/js/core/bootstrap.min.js")
        script(src="../assets/js/plugins/perfect-scrollbar.jquery.min.js")
        // Google Maps Plugin
        // Place this tag in your head or just before your close body tag.
        script(src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE")
        // Chart JS
        script(src="../assets/js/plugins/chartjs.min.js")
        // Notifications Plugin
        script(src="../assets/js/plugins/bootstrap-notify.js")
        // Control Center for Black Dashboard: parallax effects, scripts for the example pages etc
        script(src="../assets/js/black-dashboard.min.js?v=1.0.0")
        // Black Dashboard DEMO methods, don't include it in your project!
        script(src="../assets/demo/demo.js")
        script.
            $(document).ready(function() {
                $().ready(function() {
                    $sidebar = $('.sidebar');
                    $navbar = $('.navbar');
                    $main_panel = $('.main-panel');
                    $full_page = $('.full-page');
                    $sidebar_responsive = $('body > .navbar-collapse');
                    sidebar_mini_active = true;
                    white_color = false;
                    window_width = $(window).width();
                    fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();
                    $('.fixed-plugin a').click(function(event) {
                        if ($(this).hasClass('switch-trigger')) {
                            if (event.stopPropagation) {
                                event.stopPropagation();
                            } else if (window.event) {
                                window.event.cancelBubble = true;
                            }
                        }
                    });
                    $('.fixed-plugin .background-color span').click(function() {
                        $(this).siblings().removeClass('active');
                        $(this).addClass('active');
                        var new_color = $(this).data('color');
                        if ($sidebar.length != 0) {
                            $sidebar.attr('data', new_color);
                        }
                        if ($main_panel.length != 0) {
                            $main_panel.attr('data', new_color);
                        }
                        if ($full_page.length != 0) {
                            $full_page.attr('filter-color', new_color);
                        }
                        if ($sidebar_responsive.length != 0) {
                            $sidebar_responsive.attr('data', new_color);
                        }
                    });
                    $('.switch-sidebar-mini input').on("switchChange.bootstrapSwitch", function() {
                        var $btn = $(this);
                        if (sidebar_mini_active == true) {
                            $('body').removeClass('sidebar-mini');
                            sidebar_mini_active = false;
                            blackDashboard.showSidebarMessage('Sidebar mini deactivated...');
                        } else {
                            $('body').addClass('sidebar-mini');
                            sidebar_mini_active = true;
                            blackDashboard.showSidebarMessage('Sidebar mini activated...');
                        }
                        // we simulate the window Resize so the charts will get updated in realtime.
                        var simulateWindowResize = setInterval(function() {
                            window.dispatchEvent(new Event('resize'));
                        }, 180);
                        // we stop the simulation of Window Resize after the animations are completed
                        setTimeout(function() {
                            clearInterval(simulateWindowResize);
                        }, 1000);
                    });
                    $('.switch-change-color input').on("switchChange.bootstrapSwitch", function() {
                        var $btn = $(this);
                        if (white_color == true) {
                            $('body').addClass('change-background');
                            setTimeout(function() {
                                $('body').removeClass('change-background');
                                $('body').removeClass('white-content');
                            }, 900);
                            white_color = false;
                        } else {
                            $('body').addClass('change-background');
                            setTimeout(function() {
                                $('body').removeClass('change-background');
                                $('body').addClass('white-content');
                            }, 900);
                            white_color = true;
                        }
                    });
                    $('.light-badge').click(function() {
                        $('body').addClass('white-content');
                    });
                    $('.dark-badge').click(function() {
                        $('body').removeClass('white-content');
                    });
                });
            });
        script.
            $(document).ready(function() {
                // Javascript method's body can be found in assets/js/demos.js
                demo.initDashboardPageCharts();
            });
        script(src="https://cdn.trackjs.com/agent/v3/latest/t.js")
        script.
            window.TrackJS &&
            TrackJS.install({
                token: "ee6fab19c5a04ac1a32a645abde4613a",
                application: "black-dashboard-free"
            });
