.pagination__item {
    display: inline-block;
    font-family: 'Bahij';
    font-size: 16px;
    border: 1px solid transparent;
    margin-right: 2px;
}
.pagination__item.is-active {
    border: 1px solid red;
    background: red;
    color: #fff;
}
.pagination__item:hover, .pagination__item:focus, .pagination__item:active {
    border: 1px solid red;
}
.pagination__number {
    display: block;
    padding: 2px 6px;
    text-decoration: none;
    color: inherit;
}
.pagination__list {
    display: inline-block;
    list-style-type: none;
    padding: 0;
    font-size: 0;
}
.pagination__prev, .pagination__next {
    display: inline-block;
    text-decoration: none;
}
.pagination__prev:hover, .pagination__next:hover, .pagination__prev:focus, .pagination__next:focus, .pagination__prev:active, .pagination__next:active {
    color: red;
}
